{% extends 'base.html.twig' %}

{% block title %}Index des restaurants{% endblock %}

{% block body %}
    <h1>Index des restaurants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.address.street }}, {{ restaurant.address.state }}. {{ restaurant.address.city }} {{ restaurant.address.postalCode }}</td>
                <td>{{ restaurant.type.value }}</td>
                <td>
                    <a href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">Détails</a>
                    <a href="{{ path('app_restaurant_edit', {'id': restaurant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_restaurant_new') }}">Nouveau restaurant</a>
{% endblock %}
